.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color2);
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 2rem;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--color4);
}
