.model-container {
  display: flex;
  flex-direction: column;
}

.modal-img-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-img {
  height: 200px;
}

.modal-header {
  font-weight: 100;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.modal-detail-container {
  display: flex;
  flex-wrap: wrap;
}

.detail {
  width: 50%;
  margin-top: 0.1rem;
  font-size: 0.8rem;
}

.comments-container {
  margin: 0.5rem 0;
}

.comment-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-header,
.form-header {
  padding-right: 5px;
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.total {
  font-size: 1.2rem;
  font-weight: 400;
}

.comments-list {
  list-style-type: none;
}

.comment {
  padding: 0.3rem 0;
  font-size: 0.8rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.name-input {
  width: 100%;
  padding: 0.3rem 0.2rem;
  color: black;
}

.textarea-input {
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.8rem 0.2rem;
}

.btn {
  background: #8934d9;
  background-image: -webkit-linear-gradient(top, #8934d9, #2b2bb8);
  background-image: -moz-linear-gradient(top, #8934d9, #2b2bb8);
  background-image: -o-linear-gradient(top, #8934d9, #2b2bb8);
  background-image: linear-gradient(to bottom, #8934d9, #2b2bb8);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
