* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0b0c10;
  --color2: #1f2833;
  --color3: #c5c6c7;
  --color4: #66fcf1;
  --color5: #45a29e;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(#0f2027f8, #203a43de, #2c5364da),
    url(./images/background.jpg) no-repeat center center / cover;
}

header {
  display: flex;
  height: 75px;
  width: 100%;
  background-color: var(--color2);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 120px auto 120px auto;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 75px;
  color: var(--color4);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center;
}

.title p {
  margin-top: 20px;
  color: white;
  text-align: center;
  width: 300px;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 25px;
  color: var(--color4);
}

.logo a {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: var(--color4);
}

.logo p {
  font-size: 25px;
  letter-spacing: 2px;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.links li a {
  color: white;
  text-decoration: none;
}

.grid-container {
  border: green solid 2px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  border: red solid 2px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.image-container {
  border: blue solid 2px;
  width: 100%;
  height: 200px;
}

.item-info {
  display: flex;
  justify-content: space-between;
}

.comments-button {
  display: block;
  margin: auto;
  padding: 10px;
}
