* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0b0c10;
  --color2: #1f2833;
  --color3: #c5c6c7;
  --color4: #66fcf1;
  --color5: #45a29e;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:
    linear-gradient(#0f2027f8, #203a43de, #2c5364da),
    url(./images/background.jpg) no-repeat center center / cover;
}

header {
  display: flex;
  height: 75px;
  width: 100%;
  background-color: var(--color2);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-form {
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}

.search-box {
  display: flex;
  align-items: center;
  background: var(--color2);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  line-height: 40px;
  color: white;
}

.search-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color2);
  width: 30px;
  height: 30px;
  background-color: var(--color3);
  border-radius: 50%;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 60px auto 80px auto;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 75px;
  color: var(--color4);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center;
}

.title p {
  margin-top: 20px;
  color: white;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 2px;
  width: 300px;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 25px;
  color: var(--color4);
}

.logo a {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: var(--color4);
}

.logo p {
  font-size: 25px;
  letter-spacing: 2px;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.links li a {
  color: white;
  text-decoration: none;
}

.grid-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 120px;
}

.card {
  border-radius: 5px;
  background-color: #1f2833;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  box-shadow: 0 0 8px 0 rgb(0, 0, 0);
  transition: 1s;
}

.card:hover {
  border: white solid 1px;
}

.image-container {
  background-color: #0b0c10;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.likes-container {
  display: flex;
  gap: 10px;
}

.fa-heart {
  color: rgb(148, 148, 148);
  cursor: pointer;
  transition: 0.5s;
}

.fa-heart:hover {
  color: rgb(250, 53, 53);
}

.comments-button {
  display: block;
  margin: auto;
  padding: 10px;
  background-color: transparent;
  border: #66fcf1 solid 1px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.comments-button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
  border: none;
  box-shadow: 0 0 8px 0 rgba(199, 199, 199, 0.2);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color2);
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 2rem;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--color4);
}

/* MODAL */

div.swal2-modal {
  background-color: var(--color2);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0 0 12px 0 rgb(51, 142, 148);
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
  color: var(--color3);
}

.modal-img-container {
  background-color: black;
  padding: 0;
}

.modal-header {
  font-size: 30px;
}

.modal-detail-container {
  font-size: 14px;
  line-height: 1.5;
}

.comment-header {
  margin-bottom: 10px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}

.name-input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.textarea-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

div.swal2-actions {
  display: none !important;
}

.swal2-close:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 425px) {
  .text-logo {
    display: none;
  }
}
